<div class="modal-header bg-danger">
    <h3 class="modal-title">Duplicate the case</h3>
</div>
<div class="modal-body">
    <p>Are you sure you want to copy this case?</p>
    <p class="text-danger"><b>This action might take a while and cannot be undone.</b></p>
</div>
<div class="modal-footer text-left">
    <button class="btn btn-default" ng-click="cancel()" ng-disabled="loading" type="button">Cancel</button>
    <button class="btn btn-danger pull-right" ng-click="confirm()" ng-disabled="loading" type="button">
        Yes, copy it.
    </button>
</div>
