<div class="row">
    <div class="col-md-12">

              <!--<div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter options
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#" ><i class="text-danger glyphicon glyphicon-remove"></i> Deleted by</a></li>
                    <li><a href="#" value="Creation"><i class="text-info glyphicon glyphicon-plus"></i> Added by </li>
                    <li><a href="#" value="Update"><i class="text-success glyphicon glyphicon-refresh"></i> Updated by </a></li>
                    <li><a href="#" value="Cancel"><i class="text-danger glyphicon glyphicon-remove"></i> Canceled by </a></li>
                    <li><a href="#" value="Complete"><i class="text-success glyphicon glyphicon-ok"></i> Completed by </a></li>
                    <li><a href="#" value="Resolve"><i class="text-success glyphicon glyphicon-ok"></i> Closed by </a></li>
                  </ul>
                </div>-->
                <h3>Filter options</h3>
                <ul class="list-inline">
                  <li><a href="#"><i class="text-danger glyphicon glyphicon-remove"></i> Deleted by</a></li>
                  <li><a href="#"><i class="text-info glyphicon glyphicon-plus"></i> Added by</a></li>
                  <li><a href="#"><i class="text-success glyphicon glyphicon-refresh"></i> Updated by</a></li>
                  <li><a href="#"><i class="text-danger glyphicon glyphicon-remove"></i> Canceled by</a></li>
                  <li><a href="#"><i class="text-success glyphicon glyphicon-ok"></i> Completed by</a></li>
                  <li><a href="#"><i class="text-success glyphicon glyphicon-ok"></i> Closed by</a></li>
                </ul>



            <!--<div class="btn-group pull-right" role="group">
                <page-sizer collection="tasks" sizes="[10, 15, 30, 100]"></page-sizer>
            </div>

            <div class="pull-right form-inline">
                <div class="input-group input-group-sm">
                    <filter-box collection="tasks"></filter-box>
                </div>
            </div>-->


    </div>
</div>

<div class="row mv-s" ng-show="tasks.total === 0">
    <div class="col-md-12">
        <div class="empty-message">No audit log found for this case.</div>
    </div>
</div>

<div class="row mt-l" ng-show="tasks.total !== 0">
    <div class="col-md-12">
        <psearch control="tasks"></psearch>
        <table class="table table-striped table-hover valigned">
            <thead>
                <tr>
                    <th style="width: 40px"></th>
                    <th>Case</th>
                    <th style="width: 240px">Date</th>
                    <th style="width: 200px">Description</th>
                    <th style="width: 200px" class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in tasks.values" class="task-row" ng-class="{'warning': (task.status == 'InProgress' && task.flag == true)}">
                    <td class="task-status" align="center" ng-switch="task.status">
                        <i ng-switch-when="Completed" class="text-success glyphicon glyphicon-ok"></i>
                        <i ng-switch-when="InProgress" class="glyphicon" ng-class="{true:'text-yellow glyphicon-flag', false:'text-primary glyphicon-play'}[task.flag]"></i>
                    </td>
                    <td ng-click="startTask(task)" class="pointer">
                      <div>
                          {{task.title}}
                      </div>
                      <div ng-show="task.status === 'Completed'" class="text-success">
                          Closed after <em>{{(task.endDate - task.startDate) | amDurationFormat : 'milliseconds'}}</em>
                      </div>
                      <div ng-show="task.status === 'InProgress'" class="text-warning">
                          Started <em am-time-ago="task.startDate"></em>
                      </div>
                    </td>
                    <td>{{task.startDate | showDate}}</td>
                    <td>
                        <span ng-show="task.owner">
                            <user user-id="task.owner"></user>
                        </span>
                        <em ng-show="!task.owner">Not assigned</em>
                    </td>

                </tr>
            </tbody>
        </table>
        <psearch control="tasks"></psearch>
    </div>
</div>
