<div class="modal-header bg-primary">
    <h3 class="modal-title">Case Report</h3>
</div>
<div class="modal-body" id="export">
    <!-- <div class="container"> -->
        <div ng-repeat="t in report.templates">
            <div class="row" ng-if="$index % 3 == 0">
                <a ng-if="report.templates[$index]" class="well-link" href="#" ng-click="report.selectTemplate($event, report.templates[$index])">
                    <div class="col-md-4">
                        <div class="panel panel-default" ng-class="{'outline': report.templates[$index].selected}">
                            <div class="panel-body">
                                <div class="panel-heading">
                                    {{ report.templates[$index].title }}
                                </div>
                                <div class="panel-body">
                                    {{ report.templates[$index].description }}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a ng-if="report.templates[$index + 1]" class="well-link" href="#" ng-click="report.selectTemplate($event, report.templates[$index + 1])">
                    <div class="col-md-4">
                        <div class="panel panel-default" ng-class="{'outline': report.templates[$index + 1].selected}">
                            <div class="panel-body">
                                <div class="panel-heading">
                                    {{ report.templates[$index + 1].title }}
                                </div>
                                <div class="panel-body">
                                    {{ report.templates[$index + 1].description }}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a ng-if="report.templates[$index + 2]" class="well-link" href="#" ng-click="report.selectTemplate($event, report.templates[$index + 2])">
                    <div class="col-md-4">
                        <div class="panel panel-default" ng-class="{'outline': report.templates[$index + 2].selected}">
                            <div class="panel-body">
                                <div class="panel-heading">
                                    {{ report.templates[$index + 2].title }}
                                </div>
                                <div class="panel-body">
                                    {{ report.templates[$index + 2].description }}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    <!-- </div> -->
</div>
<div class="modal-footer text-left">
    <button class="btn btn-default" ng-click="report.cancel()">Cancel</button>
    <button class="btn btn-danger pull-right" ng-click="report.download()">Download</button>
    <button class="btn btn-primary pull-right" ng-click="report.preview()">Preview</button>
</div>
