<div class="modal-header bg-primary">
    <h3 class="modal-title">Create Ticket</h3>
</div>
<div class="modal-body">
  <!--<div class="empty-message mv-s" ng-show="dialog.search.cases.length === 0">
      Please search for the case to be merged with <br>
      <strong>#{{dialog.caze.caseId}}:
          {{dialog.caze.title}}</strong>
  </div>-->
  <div>
    <div class="case-template-section">
        <h4>
            Templates ({{ticket.templates.length || 0}})
        </h4>
        <div ng-if="ticket.templates.length !== 0">
          <!-- <div ng-if="ticket.templates.length !== 0" ui-sortable="$vm.sortableOptions" ng-model="$vm.template.tasks"> -->

            <div class="task-item clickable" ng-click="ticket.updateSelection($index)" ng-class="{'outline': template.selected}" ng-init="isCollapsed=true" ng-repeat="template in ticket.templates">
                <div class="panel-heading">
                    <span>
                        <a href ng-click="isCollapsed=!isCollapsed">
                            <i class="fa" ng-class="{'fa-caret-down': isCollapsed, 'fa-caret-up': !isCollapsed}"></i>
                        </a>
                    </span>
                    <span class="hpad5">{{ template.title }}</span>

                </div>
                <div class="panel-body" ng-hide="isCollapsed">
                    <p btf-markdown="template.description" ng-show="template.description != ''"></p>
                    <p class="text-warning" ng-show="!template.description || template.description===''">
                        <em>No description specified</em>
                    </p>
                </div>
            </div>
        </div>
    </div>
  </div>

</div>
<div class="modal-footer text-left">
    <button class="btn btn-default" ng-click="cancel()" type="button">Cancel</button>
    <button ng-disabled="!ticket.templateSelected" class="btn btn-primary pull-right" type="button" ng-click="next()">Next</button>

</div>
