<h4 class="vpad10 text-primary">Case Report information</h4>
<div class="form-group">
    <label class="col-md-3 control-label">Template name
        <i class="fa fa-asterisk text-danger"></i>
    </label>
    <div class="col-md-9">
        <input autocomplete="off" class="form-control" name="name" ng-model="$vm.template.title" placeholder="Template name" required type="text" />
        <p class="help-block small">This name should be unique</p>
    </div>
</div>

<div class="form-group" ng-class="{ 'has-error' : $vm.template.description.$invalid && !$vm.template.description.$pristine }">
    <label class="col-md-3 control-label">Description
        <i class="fa fa-asterisk text-danger"></i>
    </label>
    <div class="col-md-9">
        <textarea class="form-control" name="description" ng-model="$vm.template.description" placeholder="Template description" required rows="3"></textarea>
        <p class="help-block" ng-show="$vm.template.description.$invalid && !$vm.template.description.$pristine">The template description is required.</p>
    </div>
</div>

<div class="form-group">
    <label class="col-md-3 control-label">Attachments
    </label>
    <div class="col-md-9">
        <button class="btn btn-sm btn-default" ngf-select="$vm.uploadFiles($files, $invalidFiles)" ngf-multiple="true">
            <i class="text-default glyphicon glyphicon-paperclip"></i>
            Select
        </button>
        <div ng-repeat="attachment in $vm.template.attachments">
            <div control="state" file-chooser="" filemodel="attachment" preview="false"></div>
        </div>
    </div>
</div>


