<div class="panel-heading">
    <span>
        <a href ng-click="isCollapsed=!isCollapsed">
            <i class="fa" ng-class="{'fa-caret-down': isCollapsed, 'fa-caret-up': !isCollapsed}"></i>
        </a>
    </span>
    <span class="hpad5">{{v.key}}</span>

    <span class="pull-right">
            <span class="mr-xxs" ng-if="v.syntax">{{v.syntax}}</span>
            <span class="mr-xxs" ng-if="!v.syntax">No syntax specified</span>
        <a class="text-default" href ng-click="$vm.editVariable(v)">
            <i class="fa fa-pencil"></i>&nbsp;Edit</a>
        <span class="hpad5"></span>
    </span>
</div>
<!-- 
<div class="panel-body" ng-hide="isCollapsed">
    <p btf-markdown="v.description" ng-show="v.description != ''"></p>
    <p class="text-warning" ng-show="!v.description || v.description===''">
        <em>No description specified</em>
    </p>
</div>
 -->